@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:wght@800&display=swap');

* {
    font-family: Arial, Helvetica, sans-serif;

}

body {
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: center;
    height: 120px;
}

.container {
    display: flex;
    justify-content: space-between;
    width: 990px;

}

.logo {
    display: flex;
    align-items: center;

}

.menu {
    display: flex;
    align-items: center;
}

nav ul,
nav li {
    list-style: none;
    margin: 0;
    padding: 0;
    font-family: 'Azeret Mono', monospace;
}

nav ul {
    display: flex;
    padding-right: 30px;
    margin-right: 30px;

}

nav a {
    display: block;
    padding: 15px;
    margin-right: 50px;
    text-decoration: none;
    text-transform: uppercase;
    color: black;

}

nav a:hover {
    background-color: #525252;
    color: #fff;
    border-radius: 4px;
}

.banner_headline img {
    margin: 0;
    padding: 0;
    width: 100%;
}

.banner_fotos {
    display: flex;
    height: 400px;

}

.banner_fotos .foto1 img,
.banner_fotos .foto2 img,
.banner_fotos .foto3 img,
.banner_fotos .foto4 img,
.banner_fotos .foto5 img {
    flex: 1;
    justify-content: space-around;
    width: 100%;
    transition: all 0.5s;
    cursor: pointer;
    transition: all 0.5s;
    border: 10px solid #eeeeee; 

}



.banner_fotos .foto1 img:hover{
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
}


.banner_fotos .foto2 img:hover{
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
}

.banner_fotos .foto3 img:hover{
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
}

.banner_fotos .foto4 img:hover{
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
}

.banner_fotos .foto5 img:hover{
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
}

article .widget {
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

article .widget_body {
    align-items: center;
}

article .widget_body_content {
    margin: auto;
    padding-bottom: 50px;
    width: 75%;
    background-color: #ebeaea;
    border-radius: 80px;
}

article .widget_body_content p {
    margin: 30px;
    color: #525252;
    text-align: justify;
    font-family: 
}


article .widget_body_content h1 {
    margin: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #525252;
    font-family: 
}

.widget_body_title {
    display: flex;
    justify-content: center;

}

.widget_body_title img {
    margin-top: 20px;
    margin-right: 50px;
    margin-bottom: 30px;
    height: 90px;
    width: 250px;
}

.widget_lista h1 {
    text-align: center;

    color: #525252;
}

.widget_lista blockquote {
    margin: 0px;
    margin-bottom: 30px;
    margin-top: 30px;
    font-size: 18px;
    font-weight: bold;
    color: #525252;
}

.widget_lista li {
    margin: 0px;
    margin-left: 30px;
    color: #525252;
}

footer {
    border-top:1px solid #b3b0b0 ;
    padding: 30px;
    margin-top: 30px;
    text-align: center;
    color: #fff;
    background-color: #b3b0b0;

}

footer a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}