@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:wght@800&display=swap');

* {
    font-family: Arial, Helvetica, sans-serif;

}

body {
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;

}

.container {
    display: flex;
    justify-content: space-between;
    height: 120px;
    width: 990px;
}

.logo {
    display: flex;
    align-items: center;

}

.menu {
    display: flex;
    align-items: center;
}

nav ul,
nav li {
    list-style: none;
    margin: 0;
    padding: 0;
    font-family: 'Azeret Mono', monospace;
}

nav ul {
    display: flex;
    padding-right: 50px;
    margin-right: 50px;

}

nav a {
    display: block;
    padding: 15px;
    margin-right: 50px;
    text-decoration: none;
    text-transform: uppercase;
    color: black;

}

nav a:hover {
    background-color: #525252;
    color: #fff;
    border-radius: 4px;
}

.banner_headline img {
    margin: 0;
    padding: 0;
    width: 100%;
}

.banner_fotos {
    display: flex;
    height: 455px;

}

.foto1,
.foto2,
.foto3,
.foto4,
.foto5 {
    display: flex;
    justify-content: space-between;
    flex: 1;

}



